.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

h2 {
    font-size: 1em;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form {
    align-self: center;
}
